<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<main>
        <div>
            <h1 style="font-size: 2rem; text-align: center; margin-top: -250px">Completely Radical Assignment Planner (C.R.A.P)</h1>
            <p style="font-size: 2rem; text-align: center; margin-top: -20px">Copyright 2026-2033</p>
            <p style="font-size: 2rem; text-align: center; margin-top: 20px">- - - Terminal 1 - - -</p>
            <p style="margin: 30px 0 20px; line-height: 1.6; font-size: 1rem;">
        Welcome to C.R.A.P, a student-centered website that allows them to manage and track tasks easily.
            </p>
            <ul style="list-style: none; padding: 0; margin: 0; font-size: 1.3rem;">
                <li style="margin: 10px 0;">&gt; <a href="{{ url_for('register') }}">Register</a></li>
                <li style="margin: 10px 0;">&gt; <a href="{{ url_for('login') }}">Log In</a></li>
                <li style="margin: 10px 0;">&gt; <a href="{{ url_for('more') }}">More about us</a></li>
                <li style="margin: 10px 0;">&gt; <a href="{{ url_for('help') }}">Help!</a></li>
            </ul>
        </div>
        <div class="hologram-card-row">
            <div class="hologram-card">
                <img src="{{ url_for('static', filename='vaultboah.png') }}" alt="vault nerd">
                <div class="hologram-card__overlay">
                    <strong>The Task Retainer</strong>
                    <p2>Jot down every task so you never miss a deadline ever again!</p2>
                </div>
            </div>
            <div class="hologram-card">
                <img src="{{ url_for('static', filename='voaaaltboh.png') }}" alt="vault nerd">
                <div class="hologram-card__overlay">
                    <strong>The Biggest Nerd</strong>
                    <p2>Compete with other users and friends and become the biggest nerd!</p2>
                </div>
            </div>
        </div>
    </main>