<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="{{ 'dark' if user and user.dark_mode else '' }}">
    <nav>
        <ul>
            <li><button><a href="{{ url_for('home') }}">Back to Assignments</a></button></li>
            <li><button><a href="{{ url_for('stats') }}">Your Stats</a></button></li>
            <li><button><a href="{{ url_for('settings') }}">Settings</a></button></li>
            <li><button><a href="{{ url_for('logout') }}">Logout</a></button></li>
            <li><button><a href="{{ url_for('delete_account') }}">Delete Account</a></button></li>
        </ul>
    </nav>
    <main>
        <div class="profile-card">
            <h2>Profile</h2>
            {% if error %}
                <p style="color: red;"><strong>{{ error }}</strong></p>
            {% endif %}
            <div class="pfp-container">
                <img src="{{ user.pfp_url if user.pfp_url.startswith('/') else url_for('static', filename=user.pfp_url) }}" alt="Profile Photo">
            </div>
            <p>Tag: <span style="color: rgba(255, 3, 3, 0.427);">#{{ user.tag }}</span></p>
            <p>Username: <strong>{{ user.username }}</strong></p>
            <hr>
            <form method="POST" enctype="multipart/form-data">
                <input type="text" name="username" placeholder="New Username"><br><br>
                <input type="file" name="pfp_file"><br><br>
                <button type="submit">Update Data</button>
            </form>
        </div>
    </main>
</body>
</html>